<div class="line">
    <div><%= @from %> - <%= @until %></div>
    <div>
        <div><%= @name %>, <%= @location %></div>
        <%- if defined?(@description) -%>
        <div><%= @description %></div>
        <%- end -%>
        <%- if defined?(@degree) -%>
        <div><%= @degree %><%= " (" + @grade + ")" if defined?(@grade) %></div>
        <%- end -%>
    </div>
</div>
