<div class="line">
    <div><%= @from %> - <%= @until %></div>
    <div>
        <div><span><%= @name %></span>, <span><%= @location %></span></div>
        <div><%= @description %></div>
        <%- if defined?(@applied_tech) -%>
        <div>Applied technologies: <%= @applied_tech.join(', ') %></div>
        <%- end -%>
    </div>
</div>
